<template name="contact">
  <div class="">
      <div class="row text-center">
        <h1>Contact Us</h1>
      </div>
      <br>
        <div class="col-sm-2">
        </div>

        <button id="send-email">Send</button>

        <div class="col-sm-8 text-center">
          <p>If you have any feedback or questions for the Privy team, please email us directly at <a href="mailto:hello@privy.cc">hello@privy.cc</a> .</p>


        </div>

        <div class="col-sm-2">
        </div>


  </div>
</template>