<template name="footer">
	<footer class="navbar navbar-inverse text-center" role="navigation">
		<ul class=" space list-inline">
			<li><p>©Get Strange Inc 2014</p></li> | 
			<li><a class="footer-links" href="/">Home</a></li> | 
			<li><a class="footer-links" href="{{pathFor 'contact'}}">Contact</a></li> | 
			<li><a class="footer-links" href="{{pathFor 'termsUrl'}}">Terms of Service</a></li> | 
			<li><a class="footer-links" href="{{pathFor 'privacyUrl'}}">Privacy Policy</a></li> | 
			<li><a class="footer-links" href="/sign-up">Register</a></li> | 
			<li><a class="footer-links" href="/sign-in">Login</a></li>
		</ul>
		<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
	</footer>
</template>