<template name="footer">
	<footer class="navbar navbar-inverse text-center" role="navigation">
		<ul class=" space list-inline">
			<li><p>©Privy Inc 2014</p></li> | 
			<li><a href="/">Home</a></li> | 
			<li><a href="/contact">Contact</a></li> | 
			<li><a href="{{pathFor 'termsUrl'}}">Terms of Service</a></li> | 
			<li><a href="{{pathFor 'privacyUrl'}}">Privacy Policy</a></li> | 
			<li><a href="/sign-up">Register</a></li> | 
			<li><a href="/sign-in">Login</a></li>
		</ul>
	</footer>
</template>