<template name="index">
  <div class="main container-fluid text-center">
    <img src="https://s3-us-west-2.amazonaws.com/privy-application/main_logo.png" width="250px" />
      <h1 class="mainheadline">A place to chat anonymously</h1>
      <br>
      <br>

    <div class="row text-center">

      <div class="col-sm-4">
      </div>

      <div class="col-sm-4 text-center">
        <ul>
          <li><a href="/sign-up" class="btn btn-primary btn-big btn-lg">Create Account</a></li>
          <br>
          <li><a href="/sign-in" class="login-instead">Login Instead</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div><!-- Container close --> 

  <div class="main-line container-fluid">
  </div>

  <div class="action-item container-fluid text-center">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen0.png" width="200px" />
        <h1 class="sub-head">Chat anonymously</h1>
        <p class="home-body">Your avatar is your only identifier.</p>
        <br>
      </div>

      <div class="col-sm-4">
        <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen3.png" width="200px" />
        <h1 class="sub-head">Say what you want</h1>
        <p class="home-body">Connect with people on topics you care about.</p>
        <br>
      </div>

      <div class="col-sm-4">
        <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen1.png" width="200px" />
        <h1 class="sub-head">Find something crazy</h1>
        <p class="home-body">Privy is whatever you make it.</p>
        <br>
      </div>                    
    </div>
  </div><!-- Container close --> 


  {{> footer }}
  
</template>
