<template name="index">
  <div class="main container-fluid text-center">
      <div>
        <img src="main_logo1.png" width="250px" />
          <br>
          <h1 class="mainheadline">A place for anonymous chat</h1>
          <br>
          <br>
        <div class="row text-center">
          
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            <ul class="list-inline">
              <li><a href="/sign-up" class="btn btn-primary btn-big btn-lg">Create Account</a></li>
              <li><a href="/sign-in" class="btn btn-primary btn-big btn-lg">Login</a></li>
            </ul>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>

  </div><!-- Container close --> 
  <div class="section-two container-fluid text-center" height="100%">
    
        <i class="fa fa-comments fa-4x"></i>
          <h1 class="mainheadline">Privy cares about Privacy more than anything else</h1>
            <p>This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. </p>


  </div><!-- Container close --> 

  <div class="section-three container-fluid text-center" height="100%">
        <i class="fa fa-comments fa-4x"></i>
          <h1 class="mainheadline">Privy cares about Privacy more than anything else</h1>
            <p>This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. </p>


  </div><!-- Container close --> 

  <div class="section-four container-fluid text-center" height="100%">
        <i class="fa fa-comments fa-4x"></i>
          <h1 class="mainheadline">Privy cares about Privacy more than anything else</h1>
            <p>This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. This is copy to explain how awesome we are privacy weise. </p>


  </div><!-- Container close --> 

  {{> footer }}
  
</template>
