<template name="index">
  <div id="main" class="container-fluid text-center" height="100%">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div class="fill">
        <img src="main_logo1.png" width="250px" />
          <br>
          <h1 class="mainheadline">An Anonymous chat messaging platform</h1>
          <br>
          <br>
        <div class="row text-center">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            <a href="/sign-up" class="btn btn-primary btn-big btn-lg">Create Account</a>
            <br><br>
            <a href="/sign-in" class="btn btn-primary btn-big btn-lg">Login</a>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
            <br>
        <br>
              <br>
        <br>
              <br>
        <br>
    </div><!-- Container close --> 
  </div>

</template>
