<template name="navbar">

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->


      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle fa fa-comment fa-lg" data-toggle="dropdown"> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor 'editUser'}}">Settings</a></li>
              <li><a href="/sign-out">{{{beforeSignOut}}}{{i18n "signOut"}}</a></li>
              <li class="divider"></li>
              <li><a href="#" class="fa fa-comments"> Messages</a></li>
              <li class="divider"></li>
              <li>
                {{#if currentUser}}
                  {{> allThreads}}
                {{/if}}
              </li>
            </ul>
          </li>
        </ul>

        <div class="navbar-header text-center">
          <a class="navbar-brand" href="/f">Privy</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="fa fa-plus fa-lg"></a></li>
        </ul>

    </div><!-- /.container-fluid -->
  </nav>

</template>