<template name="notification">
  
  <li class="nav-note">
    <a href="{{pathFor 'showThread' _id=threadId}}" class="notification-link">
      <p class="{{#if isNotified}}pull-right fa fa-circle{{/if}}"></p>
      <ul class="note-feed list-inline text-left">
        <li><div class="avatar"><img class="avatar-feed" src="{{sender.avatar}}" /></div></li>
        <li><div class="online is-user-active">{{sender.isOnline}}</div></li>
      </ul>

      <ul>
      	<li>
      		<p class="firstMessageIntro">{{lastMessagePreview}}</p>
      	</li>
      	<li>
      		<p class="messageIntro">{{originalNotePreview}}</p>
      	</li>
      </ul>
      <a href="#" style="float: right;" class="archive">archive</a>
    </a>
  </li>
    
</template>