<template name="notification">
  
  <li class="nav-note">
    <a href="{{pathFor 'showThread' _id=threadId}}" class="notification-link">
      <ul class="note-feed list-inline text-left">
        <li><div class="avatar"><img class="avatar-feed" src="{{sender.avatar}}" /></div></li>
        <li><div class="online-sidebar is-user-active">{{sender.isOnline}}</div></li>
        <li>
          <ul>
            <li><p class="sidebar-time">{{lastMessageTime}}</p></li>
          	<li><p class="firstMessageIntro">{{lastMessagePreview}}</p></li>
          	<li><p class="messageIntro">{{originalNotePreview}}</p></li>
          </ul>
        </li>
        <li><p class="{{notifiedStyle}}"></p></li>
        <ul>
          <li><p><a href="#" class="fa fa-times sidebar-message-close fa-lg archive"></a></p></li>
        </ul>
      </ul>
    </a>
  </li>
    
</template>