<template name="notification">
  
  <li class="nav-note">
    <a href="{{pathFor 'showThread' _id=threadId}}" class="notification-link">

    <ul class="list-inline">
      <li><img src="{{lastAvatar}}" class="avatar-nav" /></li>
        <li><ul>
        	<li>
        		<p class="firstMessageIntro">{{messageIntro}}</p>
        	</li>
        	<li>
        		<p class="messageIntro">{{messageIntro}}</p>
        	</li>
        </ul></li>
      <li><p><a href="#" class="fa fa-ban fa-lg archive"></a></p></li>
      <li><p class="{{#if isNotified}}pull-right fa fa-circle{{/if}}"></p></li>
    </ul>

    </a>
  </li>
    
</template>