<template name="showThread">
  <div class="container container-open">
    <div class="row messageWidth">
      <h1><a href="{{pathFor 'feed'}}" style="float: right; color: grey; font-size: 20px;" id="leave-chat">X</a></h1>
    </div>
    <div class="row messageWidth">
      <div class="col-sm-12">
        <div id="msg-wrap">
          {{#if nextPath}}
          <div id="load-more">
            <a class="load-link" href="{{nextPath}}">Load more</a>
          </div>
          {{/if}}
          <div id="messages">
            {{#each messages}}
              {{> showMessage}}
            {{/each}}
            {{> messageIndicators}}
          </div>
        </div>

        <div>
          {{#if isMuted}}
            <button id="enter-chat">Re-enter chat</button>
          {{else}}
            {{> newMessage}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>