<template name="showThread">

  <div class="navbar-fixed-top thread-header">
    <ul>
      <li>
        <a href="#" class="fa fa-comment fa-lg pull-left {{isNavNotified}}" data-toggle="dropdown"></a>
        {{> dropdown}}
      </li>
      <li>
        {{#if hasTwoParticipants}}
          <a href="#" class="pull-right" data-toggle="dropdown">
            <div class="link text-center"><p>•••</p></div>
          </a>
        {{/if}}
        <ul id="full-height" class="dropdown-menu dropdown-menu-message list-inline text-center">
        {{#if isMuted}}
          <li><a class="message-dropdown" id="enter-chat" href="#">Enter chat</a></li>
        {{else}}
          <li><a class="message-dropdown" id="leave-chat" href="#">Leave chat</a></li>
        {{/if}}
        {{#if isMuted}}
          <li><a class="message-dropdown" id="unblock-user" href="#">Unblock user</a></li>
        {{else}}
          <li><a class="message-dropdown" id="block-user" href="#">Block user</a></li>
        {{/if}}
        </ul>
      </li>
    </ul>
  </div>

  <div class="container container-open">
    <br>
    <br>
    <div class="row messageWidth">
      <div class="col-sm-12">
        <div id="msg-wrap">
          {{#if nextPath}}
          <div id="load-more">
            <a class="load-link" href="{{nextPath}}">Load more</a>
          </div>
          {{/if}}
          <div id="messages">
            {{#each messages}}
              {{> showMessage}}
            {{/each}}
            {{> messageIndicators}}
          </div>
        </div>

        <div>
          {{#if isMuted}}
            {{#if isBlocked}}
              <button id="unblock-user">Unblock user</button>
            {{else}}
              <button id="enter-chat">Enter chat</button>
            {{/if}}
          {{else}}
            {{> newMessage}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>