<template name="popup">
  <div style="clear: both;"></div>
  {{> newMessageAlert}}
  {{> successAlert}}
  {{> flagAlert}}
</template>

<template name="newMessageAlert">
  <div class="alert alert-danger alert-dismissable popup" id="newMessageAlert">
    {{#with notification}}
      <a href="{{pathFor 'showThread' _id=threadId}}">
        <img src="{{lastAvatar}}" class="avatarleft" /><p>{{lastMessage}}</p>
      </a>
    {{/with}}
  </div>
</template>

<template name="successAlert">
  <div class="alert alert-success alert-dismissable popup" id="successAlert">
      <p>{{alertCopy}}</p>
  </div>
</template>

<template name="flagAlert">
  <div class="alert alert-flag alert-dismissable popup" id="flagAlert">
      <p>Are you sure you want to flag this note?</p>
      <button id="flag-confirm" class="flag-btn">Yes</button>
      <button id="flag-cancel" class="flag-btn">Cancel</button>
  </div>
</template>
