<template name="popup">
  <div style="clear: both;"></div>
  {{> newMessageAlert}}
  {{> successAlert}}
  {{> flagAlert}}
  {{> blockUserAlert}}
  {{> firstSkipAlert}}
</template>

<template name="newMessageAlert">
  <div class="alert-nav alert-danger alert-dismissable popup" id="newMessageAlert">
    {{#with notification}}
      <a href="{{pathFor 'showThread' _id=threadId}}">
        <ul class="list-inline">
          <li><img src="{{lastAvatar}}" class="avatar-notify" /></li>
          <li><p>&nbsp;{{lastMessage}}</p></li>
        </ul>        
      </a>
    {{/with}}
  </div>
</template>

<template name="successAlert">
  <div class="alert-nav alert-success-nav alert-dismissable popup" id="successAlert"></div>
</template>

<template name="flagAlert">
  <div class="alert-nav alert-flag alert-dismissable popup" id="flagAlert">
    <ul class="list-inline">
      <li><p class="fa fa-flag fa-lg"> Flag this note?</p></li>
      <li><button id="flag-confirm" class="flag-btn btn-default">Yes</button></li>
      <li><button id="flag-cancel" class="flag-btn btn-default">Cancel</button></li>
    </ul>
  </div>
</template>

<template name="blockUserAlert">
  <div class="alert-nav alert-block-user alert-dismissable popup" id="block-user-alert">
      <p>Are you sure you want to block this user?</p>
      <br>
      <ul class="list-inline">
        <button id="block-confirm" class="block-btn btn-default">Yes</button> 
        <button id="block-cancel" class="block-btn btn-default">Cancel</button>
      </ul>
  </div>
</template>

<template name="firstSkipAlert">
  <div class="alert-nav alert-first-skip alert-dismissable popup" id="first-skip-alert">
      <p>When you skip a note, you won't see it again. Skip wisely!</p>
      <br>
      <ul class="list-inline">
        <button id="skip-confirm" class="skip-btn btn-default">Ok, skip it</button> 
        <button id="skip-cancel" class="skip-btn btn-default">Cancel</button>
      </ul>
  </div>
</template>
