<template name="popup">
  <div style="clear: both;"></div>
  {{> newMessageAlert}}
  {{> successAlert}}
</template>

<template name="newMessageAlert">
  <div class="alert alert-danger alert-dismissable popup" id="newMessageAlert">
    {{#with notification}}
      <a href="{{pathFor 'showThread' _id=threadId}}">
        <ul class="list-inline">
          <li><img src="{{lastAvatar}}" class="avatar-notify" /></li>
          <li><p>&nbsp;{{lastMessage}}</p></li>
        </ul>        
      </a>
    {{/with}}
  </div>
</template>

<template name="successAlert">
  <div class="alert alert-success alert-dismissable popup" id="successAlert">
      <p>{{alertCopy}}</p>
  </div>
</template>


