<template name="signedOutNav">
  
<nav class="navbar-inverse-loggedout navbar-fixed-top">
  <ul class="list-inline">
    <li class="dropdown pull-right">
      <a href="#" class="large fa fa-bars fa-lg" data-toggle="dropdown"></a>
        <ul id="full-height" class="dropdown-menu">
          <li>
            <a class="fa fa-sign-in fa-lg" href="{{pathFor 'entrySignIn'}}" > Sign In</a>
          </li>
          <li>
            <a class="fa fa-sign-in fa-lg" href="/sign-up" > Register</a>
          </li>
          <li>
            <a class="fa fa-home fa-lg" href="/" > Home</a>
          </li>
          <li>
            <a class="fa fa-heart fa-lg" href="/contact"> Contact</a>
          </li>
          <li>
            <a class="fa fa-caret-right" href="{{pathFor 'termsUrl'}}"> Terms</a>
          </li>
          <li>
            <a class="fa fa-caret-right" href="{{pathFor 'privacyUrl'}}"> Privacy Policy</a>
          </li>                
        </ul>
      </li>
  </ul>
</nav>

</template>