<template name="signedInNav">
  <nav class="navbar-inverse navbar-fixed-top">
    <ul class="list-inline">
      {{#unless isIntro}}
        <li class="dropdown" id="dropdown-li">
          <a href="#" class="large fa fa-comment fa-lg {{isNavNotified}}" data-toggle="dropdown"></a>
          {{> dropdown}}
        </li>
        <li class="pull-right">
          <a class="large pull-right fa fa-plus fa-lg large-icon" href="{{ pathFor 'newNote' }}" id="addNote"></a>
        </li>
      {{else}}
        <li>
          <a href="{{pathFor 'feed'}}"><h1 class="intro-logo">Strange</h1></a>
        </li>  
      {{/unless}}
    </ul>
  </nav>
</template>