body {
  background-color: #F5F5F5;
}

.container {
  padding-top: 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #008cba;
}

h2 {
  color: #008cba;
  font-size: 3em;
}


/****** Feed ******/

.message-box {
  border-style: solid 1px;
  background-color: #F3F3F3;
  border-color: #333;
  padding: 0px;
  height: 200px;
  width: 250px;
}

.feed-message {
  font-size: 20px;
}


/***********/

/****** Message ******/

.response {
  border-style: solid 1px;
  border-color: #666;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: #ccc;
  font-size: 10px;
  color: #444;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}

.avatar {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.comment {
  border-style: solid 1px;
  background-color: #008cba;
  border-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
}

.fixed-comment {
    position:fixed;
   left:0px;
   bottom:0px;
   height:0px;
   width:100%;

}

#right-align {
  text-align: right;
  float: right;
}

/***********/

ul {
  list-style: none;
}

/***********/

/****** Navigation ******/

#inline {
display: inline ;
padding: 0px 3px 0px 3px ; 
  }

/***********/

/****** Navigation ******/
.fa-comment {
  padding-left: 12px;
  color: #fff;
}

.fa-plus {
  padding-left: 12px;
  color: #fff;
}

.title a {
  color: #fff;
}





