<template name="intro">

	<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
  		<h1>First, choose your Avatar</h1>
  		<p>Your avatar is your only identifier on Privy. We keep your information secret!</p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-center">
      <ul class="list-inline">
        {{#each avatars}}
          {{> avatar }}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

</template>



<template name="intro1">

  <div class="row">
    <center>
    <h1 class="intro-headline">You'll start on your feed</h1>
    <p class="intro-body">You can see notes written by other people who want to chat.</p>
    <ul class="list-inline">
      <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
      <li><a href="{{pathFor 'intro3'}}" class="intro-next">Next <i class="intro-next fa fa-caret-right"></i></a></li>
    </ul>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen1.png" class="pull-center" />
      </div>
    </div>
    </center>
  </div>

</template>



<template name="intro3">

	<div class="row">
	  <center>
		  <h1 class="intro-headline">Get chatting</h1>
      <p class="intro-body">Flip through notes until you find one you want to talk about</p>
  		<ul class="list-inline">
        <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
        <li><a href="{{pathFor 'intro4'}}" class="intro-next">Next <i class="intro-next fa fa-caret-right"></i></a></li>
  		</ul>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen2.png" class="pull-center" />
        </div>
      </div>
    </center>
	</div>

</template>



<template name="intro4">

  <div class="row">
    <center>
      <h1 class="intro-headline">Talk one-on-one</h1>
      <p class="intro-body">Your reply starts a one-on-one conversation with the person who created the note.</p>
      <ul class="list-inline">
        <li><a href="{{pathFor 'feed'}}" class="intro-next">Get Started <i class="intro-next fa fa-check"></i></a></li>
      </ul>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen3.png" class="pull-center" />
        </div>
      </div>
    </center>
  </div>

</template>




