<template name="intro">
  <div class="container">
  	<div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 text-center">
    		<h1>First, choose your avatar</h1>
    		<p>Your avatar is your only identifier on Privy. We'll keep your information secret!</p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 text-center">
        <ul class="list-inline">
          {{#each avatars}}
            {{> avatar }}
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</template>


<template name="intro1">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <center>
          <h1 class="intro-headline">Privy starts with your feed</h1>
          <p class="intro-body">You can browse notes written by other people who want to chat.</p>
          <ul class="list-inline">
            <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
            <li><a href="{{pathFor 'intro2'}}" class="intro-next">Next <i class="intro-next fa fa-caret-right"></i></a></li>
          </ul>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen1.png" width="300px" class="pull-center" />
            </div>
          </div>
        </center>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</template>


<template name="intro2">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <center>
  		  <h1 class="intro-headline">Chat 1-on-1</h1>
        <p class="intro-body">When you find a note you like, click "Start Chatting" to strike up a conversation.</p>
    		<ul class="list-inline">
          <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
          <li><a href="{{pathFor 'intro3'}}" class="intro-next">Next <i class="intro-next fa fa-caret-right"></i></a></li>
    		</ul>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen2.png" width="300px" class="pull-center" />
          </div>
        </div>
        </center>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</template>


<template name="intro3">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <center>
        <h1 class="intro-headline">Add your own notes, too</h1>
        <p class="intro-body">Click the <strong><b class="fa fa-plus fa-lg"></b></strong> in the upper right to share a note. Your note stays in the feed until someone replies.</p>
        <ul class="list-inline">
          <li><a href="{{pathFor 'feed'}}" class="intro-next">Now, get started <i class="intro-next fa fa-check"></i></a></li>
        </ul>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <img src="https://s3-us-west-2.amazonaws.com/privy-application/screen4.png" width="300px" class="pull-center" />
          </div>
        </div>
        </center>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</template>




