<template name="intro">

	<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
  		<h1>Welcome to Privy</h1>
  		<p>The only place to chat anonymously about what you want to talk about. To start, choose your avatar. Your avatar is your only identifier on Privy. We keep your information secret!</p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-center">
      <ul class="list-inline">
        {{#each avatars}}
          {{> avatar }}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

</template>



<template name="intro1">

  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
      <h1 class="intro-headline">Do you want the tour?</h1>
      <ul class="list-inline">
        <li><a href="{{pathFor 'feed'}}" class="btn btn-info btn-lg">I'll Pass</a></li>
        <li><a href="{{pathFor 'intro2'}}" class="btn btn-primary btn-lg btn-big">Why Yes!</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

</template>



<template name="intro2">

  <div class="row">
    <center>
    <h1 class="intro-headline">This is your note feed</h1>
    <p class="intro-body">These notes are written by other people who want to chat.<br>You can see who wrote the note, and whether they are online or not.</p>
    <ul class="list-inline">
      <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
      <li><a href="{{pathFor 'intro3'}}" class="intro-next">Next</a></li>
    </ul>
    <div class="row">
      <div class="col-sm-12">
        <img src="phone_0.png" class="phone-image pull-center" />
      </div>
    </div>
    </center>
  </div>

</template>



<template name="intro3">

	<div class="row">
	  <center>
		  <h1 class="intro-headline">Skip or Reply to a note</h1>
      <p class="intro-body">These notes are written by other people who want to chat.<br>If you want to have a conversation simply hit chat.</p>
  		<ul class="list-inline">
        <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
        <li><a href="{{pathFor 'intro4'}}" class="intro-next">Next</a></li>
  		</ul>
      <div class="row">
        <div class="col-sm-12">
          <img src="phone_0.png" class="phone-image pull-center" />
        </div>
      </div>
    </center>
	</div>

</template>



<template name="intro4">

  <div class="row">
    <center>
      <h1 class="intro-headline">One on one conversation</h1>
      <p class="intro-body">Each reply starts a one-on-one conversation with the person who created the note.</p>
      <ul class="list-inline">
        <li><a href="{{pathFor 'feed'}}" class="intro-finish">Finish</a></li>
        <li><a href="{{pathFor 'intro5'}}" class="intro-next">Next</a></li>
      </ul>
      <div class="row">
        <div class="col-sm-12">
          <img src="phone_0.png" class="phone-image pull-center" />
        </div>
      </div>
    </center>
  </div>

</template>



<template name="intro5">

	<div class="row text-center">
			<h2>Time to make your own note</h2>
      <a href="{{pathFor 'feed'}}" class="btn btn-primary btn-lg">Get Started</a>
	</div>

</template>



