<template name="editUser">
  <div class="container container-open">
    <div class="row text-center">
      {{> entryForgotPassword}}
    </div>

    {{#each switches}}
      <div class="row text-center">
        <label>{{label}}</label>
        <div class="myswitch">
          <div class="onoffswitch">
            <input type="checkbox" name="{{name}}-switch" class="onoffswitch-checkbox" id="{{name}}-switch" {{isChecked}}>
            <label class="onoffswitch-label" for="{{name}}-switch">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
            </label>
          </div>
        </div>
      </div>  
    {{/each}}

  </div>
</template>