<template name="editUser">
  <div class="container container-open text-center">
    <h2>Profile Settings</h2>

    <h3>Notification Settings</h3>

    <ul class="list-inline">
      {{#each switches}}
      <li>
          <label>{{label}}</label>
          <div class="myswitch">
            <div class="onoffswitch">
              <input type="checkbox" name="{{name}}-switch" class="onoffswitch-checkbox" id="{{name}}-switch" {{isChecked}}>
              <label class="onoffswitch-label" for="{{name}}-switch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
              </label>
            </div>
          </div> 
      </li>
      {{/each}}
    </ul>

    <br>
    <a href="/sign-out" class="btn-default btn" id="sign-out">Sign Out</a>

  </div>
</template>