<template name="index">
  <div class="posts">
    <div class="container text-center">
      <div class="row">
        <h1>Welcome to Privy</h1>
      </div>

      <div class="row">
        <h3>Privy is a private network for anonnymous chat.</h3>
      </div>

      <div class="row">
        <button href="{{url}}" class="btn btn-primary btn-lg">Get Started</button>
      </div>




    </div><!-- Container close -->

  </div>
</template>


<!-- 
    {{#each posts}}
      {{> postItem}}
{{/each}} -->
