<template name="feed">
  <div class="notes">
    <div class="container text-center">
      {{#if note}}
        <h1 class="message-feed">{{note.body}}</h1>
        <div class="row small-centered">
          <div class="small-12 columns">
            <a href="#" id="skip" class="grow btn btn-info">
              <i class="fa fa-times fa-lg"> Next </i>
            </a>
          </div>
        </div>
        <a data-toggle="collapse" href="#collapseOne" class="grow btn btn-primary btn-big">Start Chatting!</a>
        <div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
          <div class="panel-body">
           {{> noteReply}}
          </div>
        </div>
        
      {{else}}
        {{> emptyFeed}}
      {{/if}}
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>




</template>