<template name="feed">

  <div class="notes">

    <div class="container container-open">
      {{#if note}}
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 feed">
            <ul>
              <li><a href="#" class="message-feed-drop text-right pull-right" data-toggle="dropdown"><div class="link text-center"><p>•••</p></div></a>
                <ul id="full-height" class="dropdown-menu dropdown-menu-feed list-inline text-center pull-right">
                  <li><a class="message-dropdown-feed fa fa-flag" id="flag"></a></li>
                </ul>
              </li>
            </ul>

            <h1 class="{{noteClass}}">{{note.body}}</h1>
            <ul class="note-feed list-inline text-left">
              <li>
                <div class="avatar"><img class="note-avatar" src="{{userAttr.avatar}}" /></div>
                <span>{{userAttr.points}}</span>
              </li>
              <li><div class="online is-user-active">{{isUserActive}}</div></li>
              {{#if location}}
                <li><p class="location">{{location}}</p></li>
              {{/if}}
            </ul>
            <div class="row small-centered">
              <div class="small-12 columns text-center">
                <a  type="button" value="Change background" href="#" id="skip" class="btn btn-info fa fa-times fa-lg"></a>

                <a data-toggle="collapse" href="#collapseOne" class="fa fa-mail-forward fa-lg btn btn-primary btn-big" id="startChat"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
            <div class="panel-body">
             {{> noteReply}}
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      {{else}}
        {{> emptyFeed}}
      {{/if}}
      <br>
      <br>
    </div>

    <div class="navbar-fixed-bottom">
    </div><!-- To keep background color 100% height -->

  </div>

</template>