<template name="newNote">
  
  <div class="row">
    <div class="small-10 small-centered columns">
      <h1 class="notes-prompt">What's on your mind, sunshine?</h1>
    </div>
  </div>


    <form class="input-group">
      <input name="notes-body" class="fa fa-camera form-control" type="text" placeholder="Start writing..." autofocus>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Go!</button>
      </span>
    </form><!-- /input-group-->


</template>