<template name="newNote">
  <div class="container container-open">
    <div class="row text-center">
      <form class="new-note text-center">

        <i class="pencil-form fa fa-pencil"></i>
        <input  name="notes-body" class="create-form text-left" type="text" maxlength="120" style="overflow:hidden" placeholder="What's on your mind?" autofocus />
        <div id="charNum">0/120</div>
        
        <label>I am seeking</label>
        <select id="max-replies" name="max-replies">
          <option value="5">5 replies</option>
          <option value="3" selected>3 replies</option>
          <option value="1">1 replies</option>
        </select>

      </form><!-- /input-group-->
    </div>
  </div>
</template>


