<center>

  <p>You have a new message.</p> 
  <p>{{ lastMessage }}</p>
  <img src="{{ avatar }}" />

  <br>

  <a href="https://deploy-privy.meteor.com/threads/{{ thread }}"> Click here to respond.</a>

</center>