<template name="messageIndicators">
  <div class="row text-right">
    <div class="col-xs-3">
    </div>
    <div id="yellow" class="col-xs-7">
      <p class="text-right">{{readStatus}}</p>
    </div> 
    <div id="yellow" class="col-xs-2">
    </div>
  </div>
  <div id="typing-status">
    {{#if isTyping}}
      <div class="row text-left">
        <div id="green" class="col-xs-2 text-right">
          <img class="text-right avatarleft" src="{{avatar}}" />
        </div>
        <div id="yellow" class="col-xs-7">
          <p>Typing</p>
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    {{/if}}
  </div>
</template>
