<template name="messageIndicators">

  {{#if lastMsg.userIsSender}}
    <div class="row text-right">
      <div class="col-xs-3"></div>
      <div id="yellow" class="col-xs-7">
        <p class="message-read text-right">{{lastMsg.readStatus}}</p>
      </div> 
      <div class="col-xs-2"></div>
    </div>
  {{else}}
    <div class="row text-left">
      <div id="green" class="col-xs-2 text-right"></div>
      <div id="yellow" class="col-xs-7">
        <p class="message-read text-left">{{lastMsg.readStatus}}</p>
      </div>
      <div class="col-xs-3"></div>
    </div>
  {{/if}}

  {{#if isTyping}}
    <div id="typing-status">
      <div class="row text-left">
        <div id="green" class="col-xs-2 text-right">
          <img class="text-right avatarleft" src="{{avatar}}" />
        </div>
        <div id="yellow" class="col-xs-7">
          <img width="60px" src="https://s3-us-west-2.amazonaws.com/privy-application/typing-icon.gif" />
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </div>
  {{/if}}
</template>
