<template name="showMessage">
  <div class="row">
    {{#if currentUserIsSender}}
      <div class="small-4 columns">
        <img class="avatar" src="{{sender.profile.avatar}}" />
      </div>
      <div class="left-small small-8 columns">
        <p class="response">{{body}}</p>
      </div>
    {{else}}
      <div class="small-8 columns">
        <p class="comment">{{body}}</p>
      </div>
      <div class="small-4 columns">
        <img class="avatar" src="{{sender.profile.avatar}}" />
      </div>
    {{/if}}
  </div>
</template>