body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #555;
  height: 100%;
  background-color: rgba( 233, 233, 233, 1);
  overflow-x: hidden;
  min-height: 400px;
  list-style-type: none;
}

.container {
  padding-top: 0px;
}

.login-instead {
  color: #fff;
  opacity: 0.7;
  font-size: 17px;
  text-decoration: underline;
}

.login-instead:hover {
  color: #fff;
  opacity: 0.9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

a:hover {
  color: #008ddd;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
}

h2 {
  color: #008cba;
  font-weight: 400;
  font-size: 3em;
}

.notes {
  padding-top: 50px;
  margin-top: -20px;
  width: 100%;
}

@media (max-width: 480px){
  .notes {
    padding-top: 32px;
  }
}


.btn-primary {
  border-style: solid;
  border-width: 5px;
  border-color: rgba( 255, 255, 255, 1 );
  border-radius: 50%;
  background-color: rgba( 105, 206, 78, 1 );
  width: 110px;
  height: 110px;
  margin: 5px;
}

.btn-primary:hover {
  border-color: rgba( 255, 255, 255, 1 );
  background-color: rgba( 89, 185, 63, 1 );
}

.fa-mail-forward {
  margin-top: 50px;
  font-size: 50px !important;
  line-height: 70px !important;
}

.fa-check {
  font-size: 50px !important;
  line-height: 70px !important;
  color: #fff;
}

.btn-info {
  border-style: solid;
  border-width: 5px;
  border-color: rgba( 255, 255, 255, 1 );
  border-radius: 50%;
  background-color: rgba(111, 111, 111, 1 );
  width: 70px;
  height: 70px;
  margin: 0px
}

.btn-info:hover {
  border-color: rgba( 255, 255, 255, 1 );
  background-color: rgba( 95, 95, 95, 1 );
}

.fa-times {
  margin-top: 45px;
  font-size: 30px !important;
  line-height: 47px !important;
}

.btn-big {
  padding: 15px;
  font-size: 25px;
  margin-top: 10px;
}

.darken {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background: #fff;
  height: 100%; 
}

/* Grow */

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 !important;
}

.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}


/***********/

/****** Register ******/

.entry {
  background-color:rgba(0, 0, 0, 0);
}

.email-option .line-thru:before {
background-color: rgba( 233, 233, 233, 1) !important;
}


.entry .btn-default {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: rgba( 28, 136, 200, 1);
  border-color: rgba( 28, 136, 200, 1);
  color: #fff;
}

.btn-default {
  background-color: rgba( 28, 136, 200, 1);
  border-color: rgba( 28, 136, 200, 1);
  color: #fff;
}

.btn-default:hover {
  background-color: rgba( 28, 136, 200, 1);
  border-color: rgba( 28, 136, 200, 1);
  color: #fff;
}


.email-option .line-thru:before {
  background-color: #f9f9f9;
}

.entry h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
  margin-top: -35px;
  padding-top: 40px;
}

.entry .entry-signin-cta {
  margin-bottom: -20px;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
  margin-top: -30px;
}

.entry-form button.submit {
  font-size: 16px;
  padding: 10px 12px;
  margin-top: -35px;
}

.entry-form label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  margin-left: -35px;
}

.entry .entry-agreement {
  margin-top: 0px;
  font-size: 13px;
  }

.entry-social button#entry-facebook {
  background: #3B5998;
  color: #fff;
  margin-top: 60px;
}

.sign-up-facebook {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sign-up-label {
  padding-left: 40px;
  padding-top: 40px;
}

.sign-up-block-btn {
margin-top: 0px !important;
margin-bottom: 10px !important;
}

/***********/

/****** Index ******/

.main {
  background-color: rgba(58, 95, 136, 1);
  margin-bottom: 0px;
  margin-top: -50px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.facebook-btn-index > .btn {
  display: inline-block;
  padding: 12px 25px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: rgba( 28, 136, 200, 1);
  border: 1px solid transparent;
  border-radius: 10px;
  color: rgba( 245, 245, 245, 0.7);
  margin-bottom: -14px;
}

.facebook-btn-index > .btn:hover {
  color: rgba( 245, 245, 245, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

.tooltip:hover,
.tooltip {
  opacity: 0.2;
  color: #fff;
  margin-left: 5px;
  z-index: 1029;
}

.tooltip-inner {
    max-width: 250px;
    /* If max-width does not work, try using width instead */
    width: 250px; 
    background-color: white;
    color: black;
    padding: 10px;
}

.tooltip-arrow {
  border-right-color: white !important;
}

.why-facebook {
  display: inline-flex;
  list-style-type: none;
}

.main-logo-index {
  font-size: 74px;
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: rgba( 245, 245, 245, 1 );
  line-height: 2;
  text-align: center !important;
  padding-top: 0px;
}

.section-one {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #F55D0C;
}

.section-one h1 {
  color: #F55D0C;
}

.section-two {
  background-color: #008cba;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.section-three {
  background-color: #EB8D00;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.section-four {
  background-color: #333;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.main-line {
  height: 10px;
  background-color: #54656e;
}

.secondary-headline {
  margin-top: -15px;
  margin-bottom: 40px;
  font-size: 35px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgba( 0, 0, 0, 0.7);
}

.action-item {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(216, 216, 216, 1);
}

.sub-head {
  font-family: "Droid Serif";
  color: rgba(61, 61, 61, 0.9);
  font-size: 30px;
  line-height: 1.4;
}

footer.navbar.navbar-inverse.text-center {
  height: 127px;
}

.home-body {
  font-family: "Droid Serif";
  color: rgba(49, 49, 49, 0.7);
  font-size: 18px;
}

.fill {
  background-color: rgba(0, 0, 0, .4);
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainheadline {
  color: rgba(245, 245, 245, 0.8);
  font-family: "Droid Serif";
  font-size: 20px;
  font-weight: 100;
  margin-top: -20px;
}

.mainheadline-left {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: left !important;
}

.mainheadline-right {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: right !important;
}

.byline-left {
  text-align: left !important;
  font-size: 18px;
}

.byline-right {
  text-align: right !important;
  font-size: 18px;
}

.mainheadlinenumber-left {
  color: #fff;
  font-size: 80px;
  font-weight: 400; 
  text-align: left !important; 
}

.mainheadlinenumber-right {
  color: #fff;
  font-size: 80px;
  font-weight: 400; 
  text-align: right !important; 
}

.secondheader {
  color: #fff;
}

#second {
  background-color: #EB8D00;
  margin-bottom: 0px;
  margin-top: -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

.whiteshadow {
  text-shadow: 2px 2px 2px #FFFFFF;
}

/****** Feed ******/

.message-box {
  border-style: solid 1px;
  background-color: #F3F3F3;
  border-color: #333;
  padding: 0px;
  height: 200px;
  width: 250px;
}

.note-avatar,
.avatar-feed {
  width: 54px;
  height: 54px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding: 8px;
  margin-top: -16px;
}

@media (min-width: 800px) {
  .note-avatar{
    margin-left: -40px;
  }
}

.feed-message {
  font-size: 20px;
}

#online {
  color: green;
}

.note-feed {
  padding-left: 10px;
  padding-right: 12px;
  margin-top: 11px;
  margin-bottom: -25px;
}

.feed {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

.feed-drop {
}

.dropdown-menu-feed {
  background-color: rgba( 28, 136, 200, 1) !important;
  color: #fff;
  font-size: 18px;
  margin-top: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  box-shadow: none;
  margin-right: -27px;
  min-width: 0px !important;
}

.message-dropdown-feed {
  color: #fff !important;
  font-size: 30px;
  min-width: 0px !important;
  margin-right: 80px;
}



/***********/

/****** New Note ******/

.new-note-header {
  z-index: 199 !important;
  background-color: rgba( 28, 136, 200, 1);
  height: 56px;
  font-size: 56px;
  color: #ffffff;
}

@media (min-width: 800px) {
  .new-note-header {
    margin-left: 320px !important;
  }
}

.new-note-header > a {
  color: #ffffff !important;
  margin-top: 0px;
  margin-right: 25px;
}

.create-form {
  padding-top: 0px;
  padding-left: 20px;
  font-size: 24px;
  border: 0;
  background-color: rgba(200, 54, 54, 0);
  outline: none;
  height: 180px;
  resize: none;
  overflow-x: hidden;
  width: 80%;
  color: #fff;
  font-weight: 100;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );
  text-align: left;
}

input.fa.fa-check.fa-lg.grow.btn.btn-primary-new-note {
  color: rgba( 245, 245, 245, 1 );
}

input.fa.fa-check.fa-lg.grow.btn.btn-primary-new-note:hover {
  color: rgba( 245, 245, 245, 1 );
}

.btn-primary-new-note {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 90px;
  height: 90px;
  margin: 5px;
  color: #ffffff;
}

.btn-primary-new-note:hover {
}

.btn-primary-new-note:active {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 90px;
  height: 90px;
  color: #ffffff;
}

.create-form::-webkit-input-placeholder {
  color: rgba(242, 242, 242, 0.8); 
  text-align: center;
  font-size: 36px;
}

.create-form::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(242, 242, 242, 0.8); 
  text-align: center;
  font-size: 36px;
}

.create-form::-ms-input-placeholder {  
  color: rgba(242, 242, 242, 0.8);
  text-align: center; 
  font-size: 36px;
}

.pencil-form {
    font-size: 40px;
    color: #fff;
    padding-right: 10px;
}


/* geolocation on-off switch */

.myswitch {
  display: inline-block;
  vertical-align: middle;
}

.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid rgba( 28, 136, 200, 1); border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 10px;
    text-align: left;
    background-color: #ffffff; 
    color: rgba( 28, 136, 200, 1);
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: rgba( 28, 136, 200, 1);
    text-align: right;
}
.onoffswitch-switch {
    width: 22px; margin: 6px;
    background-color: rgba( 28, 136, 200, 1);
    border: 2px solid rgba( 28, 136, 200, 1); border-radius: 100px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.number-count {
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto";
  color: rgba( 242, 242, 242, 0.702 );
}

.label-name {
  font-size: 16px;
  padding-right: 5px;
  font-weight: 100;
  font-family: "Roboto";
  color: rgba( 242, 242, 242, 0.702 );
  padding-left: 20px;
}

.btn-select {
  padding-right: 20px;
}

.newnote-selectors {
  padding-bottom: 40px !important;
  text-align: center !important;
}

@media (min-width: 800px) {
  .newnote-selectors {
    padding-left: 300px !important;
  }
}


/***********/

/****** Feed ******/

.reply-form {
  font-size: 20px;
  height: 70px;
  width: 100%;
  left: 0;
  z-index: 10;
  bottom: 0;
  border-radius: 0px !important;
  text-align: left;
  outline: none;
  box-shadow: none;
  border: 0px solid #ccc;
  bottom: 0px;
  position: fixed;
}

ul.dropdown-menu.dropdown-menu-feed {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  top: 0% !important;
  margin-right: -45px;
  margin-top: -40px !important;
}

a#flag {
  background-color: rgba( 28, 136, 200, 1);
  cursor: pointer;
}

.reply-form form input {
  outline: none;
  box-shadow:none;
  padding-left: 100px !important;
  margin-right: -100px;
}

#message-body:focus {
  outline: none;
  box-shadow: none;
}

.message-feed, .message-feed-sm {
  font-size: 60px;
  font-family: "Droid Serif";
  color: rgb( 242, 242, 242 );
  text-align: left;
  word-wrap: break-word;
  letter-spacing: 1px;
  padding: 0 40px;
}

.message-feed-sm{
  font-size: 42px;
}

@media (min-width: 800px){
  .message-feed, .message-feed-sm{
    padding: 0;
  }
}

@media (max-width: 1000px){
  .message-feed-sm {
    font-size: 32px;
  }
}

@media (max-width: 480px){
  .message-feed {
    font-size: 34px;
  }

  .message-feed-sm {
    font-size: 27px;
  }
}

/*@media (min-width: 800px) {
  .message-feed {
    font-size: 60px !important;
    word-wrap: break-word;
  }
}*/

.message-feed-drop {
  color: #BEE5FF;
  font-size: 30px;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -45px;
}

.message-feed-drop:hover {
  color: #fff;
}

@media (min-width: 800px){
  .message-feed-drop {
    padding-right: 20px;
  }
}


.message-feed-empty {
  font-size: 52px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0;
  font-weight: 700 !important;
  border: 0 !important;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );
  padding-left: 20px;
  padding-right: 20px;
}

.message-feed-empty-subhead {
  font-size: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0;
  font-weight: 100 !important;
  border: 0 !important;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );  
  padding-left: 40px;
  padding-right: 40px;
}

.message-feed input {
  border: 0 !important;
}

.message-feed button {
  border: 0 !important;
}

.input-group {
  border: 0 !important;
}

.sign-up {
  margin-top: 81px !important;
}

input.form-control.sign-in {
  margin-top: 70px;
}

.entry-social button#entry-facebook {
  margin-top: 0px;
}

div.entry-social.sign-in {
  margin-top: 60px;
}

.btn-default {
  border: 0px solid #fff;
  border-top: 1px solid #999;
  margin-left: -2px;
}

.btn-default:hover {
  border-color: #fff;
  border-top: 1px solid #999;
}


/****** Message ******/

.nav-thread-title {
  font-size: 20px;
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: rgba( 245, 245, 245, 0.9 );
  line-height: 1;
  text-align: center !important;
  padding-left: 0px;
  padding-top: 0px;
}

a.fa.fa-comment.fa-lg.pull-left {
  margin-top: 17px !important;
  font-size: 30px !important;
  padding-left: 0;
  margin-left: 20px;
}

.thread-header > ul > li > a {
  outline: none;
  font-size: 24px !important;
  padding-right: 20px;
  color: rgba(245, 245 ,245, 0.8);
}

button#enter-chat, button#enter-chat:visited {
  display: block;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  color: rgba( 245, 245, 245, 1);
  border: 0;
  background-color: rgba( 105, 206, 78, 1 );
  margin-bottom: 30px !important;
}

.button#enter-chat:hover, .button#enter-chat:active, .button#enter-chat:focus {
  background-color: rgba( 114, 223, 85, 1 ) !important;
  color: #ffffff !important;
}

.exited-chat {
  border: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  color: #333;
  font-weight: 100;
  display: inline-block;
  max-width: 200px;
  word-wrap: break-word;
  border-color: rgba( 0, 0, 0, 0.2 );
}

.fa.close-feed-btn {
  font-size: 30px !important;
  margin-top: 2px;
  padding-right: 25px;
  color: rgba( 255, 255, 255, 0.8 ) !important;
}

.fa.close-feed-btn:hover {
  color: rgba( 255, 255, 255, 1 ) !important;
}

.avatar-right-exit {
  width: 2em;
  height: 2em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: -15px;
}

@media (min-width: 800px) {

  .nav-thread-title {
    margin-top: 30px;
  }

  .fa.close-feed-btn {
    font-size: 45px !important;
    padding-top: 23px;
    padding-right: 25px;
    color: rgba( 255, 255, 255, 0.8 ) !important;
  }

  .fa.close-feed-btn:hover {
    color: rgba( 255, 255, 255, 1 ) !important;
  }

  a.fa.fa-comment.fa-lg.pull-left {
    font-size: 0px !important;
    margin-top: -300px !important;
  }

  .thread-header > ul > li > a {
    outline: none;
    font-size: 24px !important;
    padding-right: 20px;
    color: rgba(245, 245 ,245, 0.8);
    padding-top: 12px;
  }

}

.dropdown-menu-message {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin-top: 0px !important;
  width: 100%;
  padding: 5px 0;
  z-index: 1;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  margin-left: 1px !important;
  margin-top: 1px !important;
}

 .message-dropdown {
  font-size: 20px !important;
  font-weight: 100 !important;
  font-family: "Roboto" !important;
  color: rgba( 83, 83, 83, 1 ) !important;
  line-height: 2;
}


.thread-header > ul > li > a {
  color: rgba( 245, 245, 245, 1 ) !important;
  margin-top: 20px;
  margin-left: 25px;
}

.thread-header {
  background-color: rgba( 28, 136, 200, 1);
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  outline : none;
  font-size: 32px !important;
  padding-bottom: 10px;
  height: 59px;
  margin-bottom: -9px;
  z-index: 10000;
  
}

@media (min-width: 800px) {

  .thread-header {
    margin-left: 320px !important;
    padding-bottom: 90px;
  }

  a.fa.fa-ban.fa-lg.archive {
  margin-left: -10px;
  width: 1px;
  height: 1px;
  }

  .fa-circle {
    padding-right: 0px;
    color: #ffed54;
    border-color: #fff;
    border-style: solid 1px;
    font-size: 24px;
    margin-left: -25px !important;
    padding-top: 40px;
    margin-bottom: 6px;
    margin-right: 4px;
  } 

  .thread-header > ul > li > a {
    outline : none;
    font-size: 24px !important;
    margin-top: 22px;

  }

  a.fa.fa-chevron-left.fa-lg.pull-left {
    margin-top: 33px !important;
  }

}

.thread-header > ul > li > a {
  outline : none;
  font-size: 24px !important;
  margin-top: 11px;

}

a.fa.fa-chevron-left.fa-lg.pull-left {
  margin-top: 20px !important;
}

.thread-header > ul > li > a:hover {
  color: #444444 !important;
  outline : none;
}

.response {
  border: 1px;
  border-color: rgba( 230, 235, 240, 1 );
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  color: #333;
  font-weight: 100;
  display: inline-block;
  max-width: 200px;
  word-wrap: break-word;
  background-color: rgba(192, 192, 192, 1);
}

.avatarright {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: -15px;
}

.avatarleft {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-right: -15px;
}

.point-copy {
  font-size: 17px !important;
  color: #444 !important;
}

.avatar-thread-nav {
  width: 1em;
  height: 1em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: -5px;
}

.plus-button {
  padding-top: 20px;
  margin-left: -15px;
  opacity: 0.8 !important;
  color: #ffffff !important;
}

.plus-button:hover .plus-button:active .plus-button:focus {
  color: #fff !important;
  opacity: 1.0 !important;
}

@media (min-width: 800px) {

  .avatar-thread-nav {
    width: 1.5em;
    height: 1.5em;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 5px;
  }

  .plus-button {
    padding-top: 35px;
    margin-left: -15px;
    opacity: 0.8 !important;
    color: #ffffff !important;
  }

  .plus-button:hover .plus-button:active .plus-button:focus {
    color: #fff !important;
    opacity: 1.0 !important;
  }

}


.comment {
  border: 1px;
  border-color: rgba( 84, 165, 246, 1 );
/*  background-color: #008cba;*/
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  color: #fefefe;
  font-weight: 100;
  display: inline-block;
  max-width: 200px;
  word-wrap: break-word;
  background-color: rgba( 84, 165, 246, 1 );
}

.fixed-comment {
    position:fixed;
   left:0px;
   bottom:0px;
   height:0px;
   width:100%;
}

#right-align {
  text-align: right;
  float: right;
}

.message-read {
  color: #666;
  font-size: 12px;
}

#messages{
  margin-bottom: 70px;
}

a {
  text-decoration: none !important;
}

.link {
  width: 40px;
  height: 40px;
  letter-spacing: 0.15em;
  color: rgba( 245, 245, 245, 0.7 );
  text-decoration: none;
  margin-top: 10px !important;
}

.link:hover {
  color: rgba( 245, 245, 245, 1 ); 
  text-decoration: none !important;
}

.link a {
  color: #FFFFFF;
  text-decoration: none;
}

.link a:hover {
  color: rgba( 245, 245, 245, 1 ); 
  text-decoration: none !important; 
}

@media (max-width: 800px) {

  .link {
    margin-top: -2px !important;
  }

}


a#leave-chat {
  margin-top: 16px;
  color: rgba(151, 151, 151, 1) !important;
}

a#enter-chat {
  margin-top: 16px;
  color: rgba(151, 151, 151, 1) !important;
}

a#block-user {
  margin-top: 16px;
  color: rgba(151, 151, 151, 1) !important;
}

a#unblock-user {
  margin-top: 16px;
  color: rgba(151, 151, 151, 1) !important;
}

.message-drop-links {
  text-align: right; 
  color: blue; 
  font-size: 20px;
}


#load-more{
  padding-bottom: 20px;
}

.load-link {
    display: block;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #757575;
}

.load-link:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #444444;
}

.message-background {
  font-color: #f5f8fe !important;
}

.btn-message, .btn-message:visited {
  background-color: rgba( 105, 206, 78, 1 );
  width: 76px;
  height: 70px;
  color: #ffffff;
  font-size: 26px;
  padding-bottom: 0px;
  bottom: 0;
  right: 0;
}

.btn-message:hover, .btn-message:active, .btn-message:focus {
  background-color: rgba( 114, 223, 85, 1 ) !important;
  color: #ffffff !important;
}

.empty-button {
  font-size: 50px !important;
  line-height: 1.3 !important;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


/***********/

/****** Navigation ******/


.fa-comment {
  padding-left: 12px;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

a#noteFeed {
  font-size: 31px !important;
}

.scrollbar {
  height:800px;
  overflow:scroll;
}

@media (min-width: 800px) {

  a#noteFeed {
  font-size: 0px !important;
  }

}

#nav-notify,
.nav-notify {
  color: #ffed54 !important;
}

.li-notify{
  background-color: #666 !important;
}

.title a {
  color: #fff;
}

.dropdown-menu-top {
  background-color: #f3f5f7;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: 0px;
  outline : none;
  font-size: 32px !important;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  height: 58px;
  margin-bottom: -9px;
  z-index: 9999 !important;
}

.dropdown-menu-top > li > a {
  color: #7a7a7a !important;
  outline : none;
  font-size: 24px !important;
  padding: 0 20px;
  padding-right: 9px;
  margin-top: -10px !important;
}

.dropdown-menu-top > li > a:hover {
  color: #444444 !important;
  outline : none;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  margin-top: -63px;
  outline : none;
  font-size: 18px;
  min-width: 327px;
  z-index: 999 !important;
  padding-bottom: 30px;
}

.fa-cog {
  padding-top: 30px !important;
  padding-right: 20px !important;
}

.intro-logo,
.nav-logo {
  font-size: 32px;
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: rgba( 83, 83, 83, 1 );
  line-height: 1;
  text-align: center !important;
  padding-left: 45px;
  padding-top: 0px;
  margin-top: -35px;
}

.intro-logo {
  color: #fff;
  margin: 0px;
}

.sidebar-message-close {
  font-size: 5px;
}

a.fa.fa-times.sidebar-message-close.fa-lg.archive {
  font-size: 24px !important;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-top: -87px;
  margin-bottom: -2px;
  margin-right: 0px;
  float: right;
}

.sidebar-time {
  font-size: 10px;
  margin-bottom: -10px;
  margin-left: -40px;
  font-style: italic;
  color: rgba( 0, 0, 0, 0.5);
  padding-top: 10px;
}

@media (max-width: 799px) {

  .sidebar-time {
    margin-left: -26px;
  }

}

@media (min-width: 800px) {

  .nav-logo {
   padding-left: 0px !important; 
   margin-left: -20px;
  }

  .intro-logo {
    font-size: 36px;
    line-height: 79px;
  }

}

.dropdown-menu > li > a {
  outline : none;
  font-size: 18px;
}

.dropdown-menu > li > a:hover a:active {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu .divider {
  background-color: #333;
}

.dropdown-menu-loggedout {
  background-color: green;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  min-width: 250px;
  background-color: #222;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  margin-top: -5px;
  outline : none;
}

.dropdown-menu-loggedout  > li > a {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu-loggedout  > li > a:hover a:active {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu-loggedout  .divider {
  background-color: #333;
}

.avatar-nav {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  float: right;
}

.navbar-right a {
  background-color: #333;
}

.navbar-right li:hover {
  background-color: #444;
}

.main-logo {
  text-align: center !important;
  font-size: 20px !important;
  font-family: helvetica, arial, sans-serif;
}

.main-logo li a {
  text-align: center !important;
  font-size: 20px !important;
  margin-bottom: -30px !important; 
  padding-top: 500px !important;
  font-family: helvetica, arial, sans-serif;
}

.plus {
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

@media (min-width: 800px) {

  .large-icon {
    font-size: 50px !important;
    margin-top: 5px !important;
  }

  .navbar-inverse a {
    font-size: 45px !important;
  }

  .new-note-header {
    height: 70px;
  }

  .new-note-header > a {
    font-size: 45px !important;
    margin-top: 25px;
  }

  .navbar-fixed-top {
    margin-top: -13px !important;

  }

}


.large {
  font-size: 30px !important;
  padding: 20px;
  margin-top: -12px;
}

.navbar-inverse {
  border-radius: 0;
  color: #fff;
  background-color: rgba( 28, 136, 200, 1);
  border: 0;
  outline : none;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 100 !important;
  height: 61px;
}

.navbar-fixed-bottom {
  z-index: -1 !important;
  background-color: rgba( 28, 136, 200, 1);
  padding-top: 300%;
}

.navbar-inverse a {
  text-decoration: none;
  font-size: 13px;
  color: rgba( 255, 255, 255, 0.8);
  outline : none;
}

.navbar-inverse a:hover {
  color: rgba( 255, 255, 255, 1);
  text-decoration: none;
  outline : none;
}

.navbar-inverse-loggedout {
  border-radius: 0;
  color: #fff;
  background-color: rgba(58, 95, 136, 1);
  border: 0;
  outline : none;
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar-inverse-loggedout a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  outline : none;
}

@media (min-width: 800px) {

  .navbar-inverse-loggedout a {
    margin-top: 5px !important;
  }

  .navbar-inverse {
    height: 89px;
  }

}

.navbar-inverse-loggedout a:hover {
  color: #ccc;
  text-decoration: none;
  outline : none;
}

.main-logo a {
  font-size: 24px;
}

.scrollbar-height {
  padding-bottom: 100px;
  max-height: 1200px !important;
}

.firstMessageIntro {
  font-family: "Droid Serif";
  font-size: 13px !important;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: -25px;
  width: 162px;
}

.messageIntro {
  font-family: "Roboto";
  font-size: 12px !important;
  padding-left: 0px;
  font-weight: 100;
  margin-left: -26px;
  padding-bottom: 20px;
  margin-top: -10px;
  width: 162px;
  line-height: 1.3;
  word-wrap: break-word;
}

@media (min-width: 800px) {

  .firstMessageIntro {
    font-family: "Droid Serif";
    font-size: 13px !important;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: -40px;
    width: 150px;
  }

  .messageIntro {
    font-family: "Roboto";
    font-size: 12px !important;
    padding-left: 0px;
    font-weight: 100;
    margin-left: -40px;
    padding-bottom: 20px;
    margin-top: -10px;
    width: 200px;
    line-height: 1.3;
    word-wrap: break-word;
  }

}

.archive {
  color: #666 !important;
  font-size: 30px !important;
  opacity: 0.2;
  margin-right: -20px;
}

.archive:hover {
  opacity: 0.5;
}

.navbar-inverse > .fa-ban {
  margin-top: 0px;
  font-size: 8px !important;
  float: right;
}

a.footer-links {
font-size: 16px !important;
}


.online-sidebar {
  color: rgb( 105, 206, 78 );
  font-family: Arial;
  font-size: 50px;
  margin-left: -37px;
  margin-top: -18px;
}

@media (min-width: 800px) {

  .online-sidebar {
    color: rgb( 105, 206, 78 );
    font-family: Arial;
    font-size: 64px;
    margin-left: -42px;
    margin-top: -5px;
  }

  .noMessages {
    color: #555;
    font-size: 24px;
    padding: 50px;
    font-family: "Roboto" !important;
    font-weight: 400;
  }

  a.noMessagesBtn {
    font-size: 20px !important;
  }

  .noMessagesBtn {
    color: rgba( 28, 136, 200, 0.8) !important;
    font-size: 24px !important;
    text-decoration: underline !important;
    font-weight: 100;
  }

  .noMessagesBtn:hover {
    color: rgba( 28, 136, 200, 1) !important;
  }

}

.noMessages {
  color: #555;
  font-size: 22px;
  padding: 50px;
  font-family: "Roboto" !important;
  font-weight: 400;
}

.noMessagesBtn {
  color: rgba( 28, 136, 200, 0.8) !important;
  font-size: 24px !important;
  text-decoration: underline !important;
  font-weight: 100;
}

.noMessagesBtn:hover {
  color: rgba( 28, 136, 200, 1) !important;
}

/**********

/****** Notifications ******/

.notification-link {
  display: block;
  font-size: 14px !important;
  font-family: "Open Sans" !important;
  color: rgba( 150, 150, 150, 1 ) !important;
  text-align: left;
}

.popup {
  /*display: none;*/
  position: absolute;
  width: 100%;
  margin-top: -30px !important;
  padding-bottom: 5px;
  padding-top: 0px !important;
  z-index: 9999999999999999999999999 !important;
}

.popup a{
  display: block;
  width: 100%;
  color: #fff;
}

.alert-nav {
  z-index: 999999999999999999999999999999999999999999999999999999999999999999 !important;
  border-width: 0.34px;
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
/*  background-color: rgba( 255, 48, 48, 0.95 ) !important;*/
  text-align: center;
  border-radius: 0px;
  border: 0;
  padding: 15px !important;
  margin-top: 0px;
  position: fixed;

  font-size: 20px;
  font-family: "Open Sans";
  color: rgba( 242, 242, 242, 1 );
  text-align: center;
}

.alert-nav button {
  color: rgba( 242, 242, 242, 0.8 );
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 255, 255, 255 );
  margin: 0px;
  background-color: #999;
  border-radius: 100px;
  padding: 3px 20px;
  font-size: 18px;
}

p.fa.fa-flag {
  margin-left: 0px;
}


.alert-nav button:hover {
  color: rgba( 242, 242, 242, 1 );
  background-color: #666;
  border-style: solid;
  border-width: 3px;
}

.alert-danger {
  background-color: #FF6400;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-flag, .alert-block-user {
  background-color: #d0ce00;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-success-nav, .alert-first-skip {
  background-color: rgb( 105, 206, 78 );
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-dismissable {
  color: #fff;
}

.close {
  color: #fff !important;
}

.topspace {
  padding-bottom: 50px;
  padding-top: 30px;
}

.fa-circle {
  padding-right: 0px;
  color: #ffed54;
  border-color: #fff;
  border-style: solid 1px;
  font-size: 24px;
  margin-left: -21px !important;
  margin-bottom: 6px;
  margin-right: 4px;
}

.avatar-notify {
  width: 2em;
  height: 2em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.nav-note {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  background-color: #ffffff;
  margin-bottom: -10px;
}

.slider {
  overflow-y: hidden;
  max-height: 155px; /* approximate max height */

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 800px) {

  .nav-note {
    margin-top: 10px;
  }
  .dropdown-menu-top {
    height: 77px;
  }

}

/***********/

/****** 404 ******/

.404 img {
  width: 500px;
  margin-top: -40px;
  margin-bottom: -200px;
}
  

/***********/

/****** Footer ******/

.space {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin-bottom: 0px !important;
}


/***********/

/****** Intro_App ******/

.intro-headline {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 100;
  font-size: 42px;
  color: #333;
  padding-bottom: 0px;
}

.intro-body
 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
  color: #444;
}

.intro-next {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 22px;
}

.intro-next:hover {
  text-decoration: underline;
}

.intro-finish {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 18px;
  color: #777;
}

.intro-finish:hover {
  color: #777;
  text-decoration: underline;
}

.arrow-left {
  width: 150px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: left;
  margin-top: -60px;
  margin-left: 40px;
  z-index: 1000000000;
}

.arrow-right {
  width: 150px;
  float: right;
  margin-top: -60px;
  margin-right: 40px;
  z-index: 1000000000;
}

.arrow-right-bottom {
  width: 150px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-top: 200px;
  margin-left: 100px;
  z-index: 1000000000;
}

.image-choice {
  opacity: 0.6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 8px;
}

.image-choice:hover {
  opacity: 1;
  border-style: solid 2px;
  border: 0px solid #008cba;
  background-color: #008cba;
}

.intro-feed {
  background: url(intro_2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.phone-image {
  z-index: -9999999999 !important;
/*  position:fixed;*/
  bottom: -30px;
  width: 400px;
  text-align: center;
}

.phone-front{
  width: 350px;
  text-align: center;
}

.mainCopy{
  margin-top: 150px;
}

@media (max-width: 480px){
  .phone-front{
    width: 200px;
  }
}

/***********/

/****** Iron-Router Loader ******/


.spinner:before {
  opacity: 0 !important;
  color: 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: 0 0 0 rgba(0, 0, 0, 0) !important;
}

#iron-router-progress {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #F55D0C !important;
  box-shadow: 0 0 0 rgba(170, 242, 0, .5);
  opacity: 1;
  z-index: 99999999999999999999999999999999999 !important;
}

.entry h3 {
  color: #666;
  font-weight: 400;
  font-size: 2em;
  padding-bottom: 0px;
}

/***********/

/****** Flag ******/


.flag {
  color: #777;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 12px;
}

.flag:hover {
  color: #555;
  text-decoration: underline;
}

.alert-flag, .alert-block-user {
  background-color: red;
}

.online {
  color: rgb( 105, 206, 78 );
  font-size: 70px;
  margin-left: -36px;
  margin-top: -20px;
}

.location {
  color: #fff;
  font-size: 16px;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 0.6 );
  text-align: left;
  margin-left: -20px;
  margin-right: 8px;
}

.points {
  color: #fff;
  font-size: 14px;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 0.6 );
  text-align: left;
  margin-left: 74px;
  padding-top: 18px !important;
}

@media (min-width: 800px) {

  .points {
    margin-left: 32px;
    padding-top: 18px !important;
  }

  .navbar-inverse ul {
  visibility: visible !important;
  display: block !important;
  }

  .container-open {
    padding-left: 331px !important;
  }

  .comment {
    max-width: 500px;
  }

  .response {
    max-width: 500px;
  }    

  .messageWidth {
    min-width: 640px;
    max-width: 800px;
  }

  .reply-form {
    padding-left: 190px;
    text-align: left;
  }

  .alert-nav {
    padding-left: 200px !important;
  }

  .entry-container {
    min-width: 50% !important;
    text-align: center !important;
    background-color: green !important;
  }

  .create-form {
    font-size: 30px;
    color: #fff;
  }  

  .new-note {
    padding-left: 300px;
  }

  .message-feed-empty {
    font-size: 50px;
  }

}

@media (max-width: 699px) and (min-width: 300px) {
  form.new-note.text-center {
    margin-top: -35px !important;
  }

  .newnote-selectors {
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  .create-form {
    height: 140px !important;
  }

  .reply-form {
    font-size: 20px;
    height: 50px;
  }

  .btn-message, .btn-message:visited {
    height: 50px;
    font-size: 20px;
  }

  .list-inline > li {
    padding-right: 6px;
  }

  .entry {
    margin-top: -60px;
  }

}

.question-ball, .question-ball:hover, .question-ball:active {
  background-color: #fff;
  color: #333;
  opacity: 0.3;
  border-radius: 800px;
  padding-top: 4px;
  font-size: 14px !important;
  margin-top: 13px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

@media (max-width: 320px) {
  .question-ball, .question-ball:hover, .question-ball:active {
    margin-top: -25px;
    margin-left: 125px;
  }
}

.fa-heart-message {
  color: #333;
  font-size: 30px;
}

.fa-heart-message:hover {
  color: #E61D1D;
}

.disabled {
  color: #CFCDCD; 
}

.disabled:hover {
  color: #CFCDCD; 
}

.heart-note {
  padding: 20px 20px;
  background-color: #fff;
}

@media (max-width: 699px) {
   .fa-heart-message {
    color: #333;
    font-size: 24px;
  }

  .heart-note {
    padding: 13px 20px;
    background-color: #fff;
  } 
}


