body {
  background-color: #F5F5F5;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #555;
  height: 100%;
  background: -moz-linear-gradient(left,  rgba(198,198,198,0.65) 0%, rgba(249,249,249,0.83) 50%, rgba(198,198,198,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(198,198,198,0.65)), color-stop(50%,rgba(249,249,249,0.83)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c6c6', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-9 */
}

.container {
  padding-top: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

a:hover {
  color: #008ddd;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
}

h2 {
  color: #008cba;
  font-weight: 400;
  font-size: 3em;
}

.btn-primary {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #008cba;
  border-color: #008cba;
}

.btn-primary:hover {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #007ABA;
  border-color: #007ABA;
}

.btn-info {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-right: 10px;
  background-color: #999;
  border: 0;
}

.btn-info:hover {
  background-color: #777;
}

.btn-big {
  padding: 15px;
  font-size: 25px;
}

/* Grow */

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/***********/

/****** Register ******/


.entry {
  background-color:rgba(0, 0, 0, 0);
}

.entry .btn-default {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #008cba;
  border-color: #008cba;
  color: #fff;
}

.email-option .line-thru:before {
  background-color: #f9f9f9;
}

.entry h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
}

/***********/

/****** Index ******/

#main {
  background-color: #009999;
  margin-bottom: 0px;
  margin-top: -50px;
  height: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.fill {
  background-color: rgba(0, 0, 0, .4);
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainheadline {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}


.secondheader {
  color: #fff;
}

#second {
  background-color: #EB8D00;
  margin-bottom: 0px;
  margin-top: -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

.whiteshadow {
  text-shadow: 2px 2px 2px #FFFFFF;
}

/****** Feed ******/

.message-box {
  border-style: solid 1px;
  background-color: #F3F3F3;
  border-color: #333;
  padding: 0px;
  height: 200px;
  width: 250px;
}

.feed-message {
  font-size: 20px;
}


/***********/

/****** New Note ******/

.create-form {
  padding-top: 150px;
  font-size: 30px;
  border: 0;
  background-color: rgba(200, 54, 54, 0);
  outline: none;
  height: 100%;
  resize: none;
  overflow-x: hidden;
  width: 60%;
}

.pencil-form {
    font-size: 40px;
    color: #999;
    padding-right: 10px;
}

/***********/

/****** Feed ******/

.reply-form {
  font-size: 20px;
  height: 45px;
  width: 100%;
  left: 0;
  z-index: 1000;
  bottom: 0;
  padding-left: 0px;
  border-radius: 0px !important;
  text-align: center;
  outline: none;
  box-shadow:none;
  margin-left: 0px;
}

.reply-form form input {
  outline: none;
  box-shadow:none;
}

.reply-form-button {
  font-size: 20px;
  height: 60px;
  width: 10%;
  left: 0;
  position: absolute;
  right: 0;
  padding-left: 0px;
  border-radius: 0px !important;
  text-align: center;
  outline: none;
  box-shadow:none;
  float: right;
  color: #999;
  z-index: 2000;
}

.message-feed {
  font-size: 56px;
  padding-bottom: 30px;
  padding-top: 10%;
  color: #F55D0C;
  border: 0 !important;
}

.message-feed input {
  border: 0 !important;
}

.message-feed button {
  border: 0 !important;
}

.input-group {
  border: 0 !important;
}

.form-control {
  border: 0px solid #fff;
  border-top: 1px solid #999;
}

.btn-default {
  border: 0px solid #fff;
  border-top: 1px solid #999;
  margin-left: -2px;
}

.btn-default:hover {
  border-color: #fff;
  border-top: 1px solid #999;
}

/****** Message ******/

.response {
  border: 1px;
  border-color: #bbb;
  background-color: #cdcdcd;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #333;
  font-weight: 100;
  display: inline-block;
  -webkit-box-shadow: 0 3px 1px 0 rgba(000,000,000,0.2);
  box-shadow: 0 3px 1px 0 rgba(000,000,000,0.2);
}

.avatarright {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: -15px;
}

.avatarleft {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-right: -15px;
}

.comment {
  border: 1px;
  border-color: #008ddd;
  background-color: #008cba;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #fefefe;
  font-weight: 100;
  display: inline-block;
  -webkit-box-shadow: 0 1px 5px 0 rgba(000,000,000,0.2);
  box-shadow: 0 1px 5px 0 rgba(000,000,000,0.2);
  -webkit-box-shadow: 0 3px 1px 0 rgba(000,000,000,0.2);
  box-shadow: 0 3px 1px 0 rgba(000,000,000,0.2);
}

.fixed-comment {
    position:fixed;
   left:0px;
   bottom:0px;
   height:0px;
   width:100%;

}

#right-align {
  text-align: right;
  float: right;
}

.message-read {
  color: #666;
  font-size: 12px;
}

.message-typing {

}

.messages{
    border: 1px solid #ccc;
    height: 600px;
    overflow-y:scroll;

}

/***********/

/****** Navigation ******/


.fa-comment {
  padding-left: 12px;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

.nav-notify a{
  color: yellow !important;
}

.li-notify{
  background-color: #666 !important;
}



.title a {
  color: #fff;
}

#full-height {
  height: 2000%;
}

.dropdown-menu {
  background-color: green;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  min-width: 250px;
  background-color: #222;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  margin-top: -5px;
  outline : none;
}

.dropdown-menu > li > a {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu > li > a:hover a:active {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu .divider {
  background-color: #333;
}

.avatar-nav {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 10px;
}

.navbar-brand {
  float: right;
}

.navbar-right a {
  background-color: #333;
}

.navbar-right li:hover {
  background-color: #444;
}

.main-logo {
  text-align: center !important;
  font-size: 20px !important;
  font-family: helvetica, arial, sans-serif;
}

.main-logo li a {
  text-align: center !important;
  font-size: 20px !important;
  margin-bottom: -30px !important; 
  padding-top: 500px !important;
  font-family: helvetica, arial, sans-serif;
}

.plus {
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

.large {
  font-size: 30px !important;
  padding: 20px;
  margin-top: -12px;
}

.navbar-inverse {
  border-radius: 0;
  color: #fff;
  background-color: #222;
  border: 0;
  outline : none;
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar-inverse a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  outline : none;
}

.navbar-inverse a:hover {
  color: #ccc;
  text-decoration: none;
  outline : none;
}

.main-logo a {
  font-size: 24px;
}

/***********/

/****** Notifications ******/


.alert {
  text-align: center;
  border-radius: 0px;
  border: 0;
}

.alert-danger {
  background-color: #FF6400;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-success {
  background-color: #3F92D2;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  color: #fff;
}

.alert-dismissable {
  color: #fff;
}

.close {
  color: #fff !important;
}

.topspace {
  padding-bottom: 50px
}

