body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #555;
  height: 100%;
  background-color: rgba( 249, 249, 249, 1);
  /*background: -moz-linear-gradient(left,  rgba(198,198,198,0.65) 0%, rgba(249,249,249,0.83) 50%, rgba(198,198,198,1) 100%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(198,198,198,0.65)), color-stop(50%,rgba(249,249,249,0.83)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* IE10+ */
  /*background: linear-gradient(to right,  rgba(198,198,198,0.65) 0%,rgba(249,249,249,0.83) 50%,rgba(198,198,198,1) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c6c6', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-9 */
}

.container {
  padding-top: 0px;
}

.login-instead {
  margin-top: 40px !important;
  color: #fff;
  opacity: 0.7;
  font-size: 20px;
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

a:hover {
  color: #008ddd;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #008cba;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
}

h2 {
  color: #008cba;
  font-weight: 400;
  font-size: 3em;
}

.notes {
  background-color: rgba( 28, 136, 200, 1);
  padding-top: 50px;
  padding-top: 50px;
  margin-top: -20px;
  height: 900px;
}


.btn-primary {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 124px;
  height: 124px;
  margin: 5px;
}

.btn-primary:hover {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 124px;
  height: 124px;
}

.btn-primary:active {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 124px;
  height: 124px;
}

.fa-mail-forward {
  margin-top: 50px;
  font-size: 50px !important;
  line-height: 80px !important;
}

.fa-check {
  font-size: 50px !important;
  line-height: 70px !important;
  color: #fff;
}



.btn-info {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: #999;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.btn-info:hover {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 999, 999, 999 );
  width: 80px;
  height: 80px;
}

.btn-info:active {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 999, 999, 999 );
  width: 80px;
  height: 80px;
}

.fa-times {
  margin-top: 45px;
  font-size: 30px !important;
  line-height: 50px !important;
}

.btn-info:hover {
  background-color: #777;
}

.btn-big {
  padding: 15px;
  font-size: 25px;
  margin-top: 10px;
}

.darken {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  background: #fff;
  height: 100%; 
}

/* Grow */

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 !important;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


/***********/

/****** Register ******/

.entry {
  background-color:rgba(0, 0, 0, 0);
}

.entry .btn-default {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #008cba;
  border-color: #008cba;
  color: #fff;
}

.email-option .line-thru:before {
  background-color: #f9f9f9;
}

.entry h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  padding: 0px;
  margin-bottom: -20px;
  margin: 0;
}


/***********/

/****** Index ******/

.main {
  background-color: #41728a;
  margin-bottom: 0px;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.section-one {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #F55D0C;
}

.section-one h1 {
  color: #F55D0C;
}

.section-two {
  background-color: #008cba;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.section-three {
  background-color: #EB8D00;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.section-four {
  background-color: #333;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.main-line {
  height: 10px;
  background-color: #54656e;
}

.action-item {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #285c76;
}

.sub-head {
  color: #87d1f5;
  font-size: 34px;
}

.home-body {
  color: #b6e7ff;
  font-size: 18px;
}

.fill {
  background-color: rgba(0, 0, 0, .4);
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainheadline {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-top: -30px;
  margin-bottom: -20px;
}

.mainheadline-left {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: left !important;
}

.mainheadline-right {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: right !important;
}

.byline-left {
  text-align: left !important;
  font-size: 18px;
}

.byline-right {
  text-align: right !important;
  font-size: 18px;
}

.mainheadlinenumber-left {
  color: #fff;
  font-size: 80px;
  font-weight: 400; 
  text-align: left !important; 
}

.mainheadlinenumber-right {
  color: #fff;
  font-size: 80px;
  font-weight: 400; 
  text-align: right !important; 
}

.secondheader {
  color: #fff;
}

#second {
  background-color: #EB8D00;
  margin-bottom: 0px;
  margin-top: -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

.whiteshadow {
  text-shadow: 2px 2px 2px #FFFFFF;
}


/****** Feed ******/

.message-box {
  border-style: solid 1px;
  background-color: #F3F3F3;
  border-color: #333;
  padding: 0px;
  height: 200px;
  width: 250px;
}

.avatar-feed {
  width: 60px !important;
  height: 60px !important;
}

.feed-message {
  font-size: 20px;
}

.avatar-feed {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding: 10px;
}

#online {
  color: green;
}

.note-feed {
  padding-left: 40px;
  padding-right: 40px;
}


/***********/

/****** New Note ******/

.new-note-header {
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
  background-color: rgba( 28, 136, 200, 1);
  height: 56px;
  font-size: 56px;
  color: #ffffff;
}

@media (min-width: 800px) {
  .new-note-header {
    margin-left: 320px !important;
  }
}

.new-note-header > a {
  color: #ffffff !important;
  margin-top: 0px;
  margin-right: 25px;
}

.create-form {
  padding-top: 0px;
  padding-left: 20px;
  font-size: 30px;
  border: 0;
  background-color: rgba(200, 54, 54, 0);
  outline: none;
  height: 100%;
  height: 180px;
  resize: none;
  overflow-x: hidden;
  width: 80%;
  color: #fff;
  font-weight: 100;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );
  text-align: left;
}

.btn-primary-new-note {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 90px;
  height: 90px;
  margin: 5px;
  color: #ffffff;
}

.btn-primary-new-note:hover {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 90px;
  height: 90px;
  color: #ffffff;
}

.btn-primary-new-note:active {
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 105, 206, 78 );
  width: 90px;
  height: 90px;
  color: #ffffff;
}

.create-form::-webkit-input-placeholder {
  color: rgba(242, 242, 242, 0.8); 
  text-align: center;
  font-size: 36px;
}

.create-form::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(242, 242, 242, 0.8); 
  text-align: center;
  font-size: 36px;
}

.create-form::-ms-input-placeholder {  
  color: rgba(242, 242, 242, 0.8);
  text-align: center; 
  font-size: 36px;
}

.pencil-form {
    font-size: 40px;
    color: #fff;
    padding-right: 10px;
}


/* geolocation on-off switch */

.myswitch {
  display: inline-block;
  vertical-align: middle;
}

.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid rgba( 28, 136, 200, 1); border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 10px;
    text-align: left;
    background-color: #ffffff; 
    color: rgba( 28, 136, 200, 1);
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: rgba( 28, 136, 200, 1);
    text-align: right;
}
.onoffswitch-switch {
    width: 22px; margin: 6px;
    background-color: rgba( 28, 136, 200, 1);
    border: 2px solid rgba( 28, 136, 200, 1); border-radius: 100px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.number-count {
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto";
  color: rgba( 242, 242, 242, 0.702 );
}

.label-name {
  font-size: 16px;
  padding-right: 5px;
  font-weight: 100;
  font-family: "Roboto";
  color: rgba( 242, 242, 242, 0.702 );
  padding-left: 20px;
}

.btn-select {
  padding-right: 20px;
}

.newnote-selectors {
  padding-bottom: 40px !important;
  text-align: center !important;
}

@media (min-width: 800px) {
  .newnote-selectors {
    padding-left: 300px !important;
  }
}


/***********/

/****** Feed ******/

.reply-form {
  font-size: 20px;
  height: 70px;
  width: 100%;
  left: 0;
  z-index: 1000;
  bottom: 0;
  border-radius: 0px !important;
  text-align: left;
  outline: none;
  box-shadow:none;
  border: 0px solid #ccc;
}


.reply-form form input {
  outline: none;
  box-shadow:none;
  padding-left: 100px !important;
  margin-right: -100px;
}

.message-feed {
  font-size: 40px;
  font-family: "Droid Serif";
  color: rgb( 242, 242, 242 );
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.message-feed-drop {
  color: #fff;
  font-size: 30px;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
}

.message-feed-drop:hover {
  color: #fff;
}

.message-feed-empty {
  font-size: 30px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0;
  border: 0 !important;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );
}

.message-feed-empty > h3 {
  font-size: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0;
  font-weight: 100 !important;
  border: 0 !important;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 1 );  
}

.message-feed input {
  border: 0 !important;
}

.message-feed button {
  border: 0 !important;
}

.input-group {
  border: 0 !important;
}

.form-control {
  border: 0px solid #fff;
  border-top: 1px solid #999;
}

.btn-default {
  border: 0px solid #fff;
  border-top: 1px solid #999;
  margin-left: -2px;
}

.btn-default:hover {
  border-color: #fff;
  border-top: 1px solid #999;
}


/****** Message ******/

.nav-thread-title {
  font-size: 24px;
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: rgba( 83, 83, 83, 1 );
  line-height: 1;
  text-align: center !important;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: -35px;
}

.dropdown-menu-message {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin-top: 0px !important;
  width: 100%;
  padding: 5px 0;
  z-index: 1;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  margin-left: 1px !important;
  margin-top: 1px !important;
}

 .message-dropdown {
  font-size: 20px !important;
  font-weight: 100 !important;
  font-family: "Roboto" !important;
  color: rgba( 83, 83, 83, 1 ) !important;
  line-height: 2;
}


/*.thread-header > ul > li > a {
  color: rgba( 83, 83, 83, 1 ) !important;
  margin-top: 20px;
  margin-left: 25px;
}*/

.thread-header {
  background-color: #f3f5f7;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  outline : none;
  font-size: 32px !important;
  padding-bottom: 10px;
  height: 59px;
  margin-bottom: -9px;
  z-index: 9999999999;
  
}

@media (min-width: 800px) {
  .thread-header {
    margin-left: 320px !important;
  }
}

.thread-header > ul > li > a {
  color: #7a7a7a !important;
  outline : none;
  font-size: 24px !important;
  padding-left: 20px;
  margin-top: 21px !important;
}

.thread-header > ul > li > a:hover {
  color: #444444 !important;
  outline : none;
}

.response {
  border: 1px;
  border-color: rgba( 230, 235, 240, 1 );
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  color: #333;
  font-weight: 100;
  display: inline-block;
  max-width: 200px;
  word-wrap: break-word;
  background-color: rgba( 230, 235, 240, 1 );
}

.avatarright {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: -15px;
}

.avatarleft {
  width: 2.5em;
  height: 2.5em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-right: -15px;
}

.comment {
  border: 1px;
  border-color: rgba( 84, 165, 246, 1 );
/*  background-color: #008cba;*/
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  color: #fefefe;
  font-weight: 100;
  display: inline-block;
  max-width: 200px;
  word-wrap: break-word;
  background-color: rgba( 84, 165, 246, 1 );
}

.fixed-comment {
    position:fixed;
   left:0px;
   bottom:0px;
   height:0px;
   width:100%;
}

#right-align {
  text-align: right;
  float: right;
}

.message-read {
  color: #666;
  font-size: 12px;
}

#messages{
  margin-bottom: 70px;
}

#load-more{
  padding-bottom: 20px;
}

.load-link {
    display: block;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: #757575;
}

.load-link:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #444444;
}

.message-background {
  font-color: #f5f8fe !important;
}

.btn-message {
  background-color: rgba( 105, 206, 78, 1 );
  width: 76px;
  height: 70px;
  color: #ffffff;
  font-size: 26px;
  padding-bottom: 0px;
  bottom: 0;
  right: 0;
}

.btn-message:hover, .btn-message:active {
  background-color: rgba( 114, 223, 85, 1 );
  color: #ffffff;
}

.empty-button {
  font-size: 50px !important;
  line-height: 1.5 !important;
}


/***********/

/****** Navigation ******/


.fa-comment {
  padding-left: 12px;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

.nav-notify {
  color: #ffed54 !important;
}

.li-notify{
  background-color: #666 !important;
}

.title a {
  color: #fff;
}

.dropdown-menu-top {
  background-color: #f3f5f7;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: 0px;
  outline : none;
  font-size: 32px !important;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  height: 58px;
  margin-bottom: -9px;
  z-index: 9999 !important;
}

.dropdown-menu-top > li > a {
  color: #7a7a7a !important;
  outline : none;
  font-size: 24px !important;
  padding: 0 20px;
  margin-top: -10px !important;
}

.dropdown-menu-top > li > a:hover {
  color: #444444 !important;
  outline : none;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  margin-top: -63px;
  outline : none;
  font-size: 18px;
  min-width: 327px;
  z-index: 999 !important;
}

.fa-cog {
  padding-top: 30px !important;
  padding-right: 20px !important;
}

.nav-logo {
  font-size: 32px;
  font-family: "Roboto" !important;
  font-weight: 100 !important;
  color: rgba( 83, 83, 83, 1 );
  line-height: 1;
  text-align: center !important;
  padding-left: 35px;
  padding-top: 0px;
  margin-top: -35px;
}

.dropdown-menu > li > a {
  color: #EDEDED;
  outline : none;
  font-size: 18px;
}

.dropdown-menu > li > a:hover a:active {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu .divider {
  background-color: #333;
}

.dropdown-menu-loggedout {
  background-color: green;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  min-width: 250px;
  background-color: #222;
  webkit-box-shadow: 0;
  box-shadow: 0;
  margin-left: -2px;
  margin-top: -5px;
  outline : none;
}

.dropdown-menu-loggedout  > li > a {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu-loggedout  > li > a:hover a:active {
  color: #EDEDED;
  outline : none;
}

.dropdown-menu-loggedout  .divider {
  background-color: #333;
}

.avatar-nav {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  float: right;
}

.navbar-right a {
  background-color: #333;
}

.navbar-right li:hover {
  background-color: #444;
}

.main-logo {
  text-align: center !important;
  font-size: 20px !important;
  font-family: helvetica, arial, sans-serif;
}

.main-logo li a {
  text-align: center !important;
  font-size: 20px !important;
  margin-bottom: -30px !important; 
  padding-top: 500px !important;
  font-family: helvetica, arial, sans-serif;
}

.plus {
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}

.large {
  font-size: 30px !important;
  padding: 20px;
  margin-top: -12px;
}

.navbar-inverse {
  border-radius: 0;
  color: #fff;
  background-color: rgba( 28, 136, 200, 1);
  border: 0;
  outline : none;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 999 !important;
}

.navbar-fixed-bottom {
  z-index: 99 !important;  
}

.navbar-inverse a {
  text-decoration: none;
  font-size: 13px;
  color: rgba( 255, 255, 255, 0.8);
  outline : none;
}

.navbar-inverse a:hover {
  color: rgba( 255, 255, 255, 1);
  text-decoration: none;
  outline : none;
}

.navbar-inverse-loggedout {
  border-radius: 0;
  color: #fff;
  background-color: #222;
  border: 0;
  outline : none;
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar-inverse-loggedout a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  outline : none;
}

.navbar-inverse-loggedout a:hover {
  color: #ccc;
  text-decoration: none;
  outline : none;
}

.main-logo a {
  font-size: 24px;
}

.scrolllbar {
  height: 800px !important;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.firstMessageIntro {
  font-weight: 700;
  padding-left: 80px;
  margin-top: -60px;
}

.messageIntro {
  padding-left: 80px;
  margin-top: -10px;
  padding-bottom: 20px;
}


/***********/

/****** Notifications ******/

.notification-link {
  display: block;
  font-size: 14px !important;
  font-family: "Open Sans" !important;
  color: rgba( 150, 150, 150, 1 ) !important;
  text-align: left;
}

.popup {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: -30px !important;
  padding-bottom: 5px;
  padding-top: 0px !important;
  z-index: 9999999999999999999999999 !important;
}

.popup a{
  display: block;
  width: 100%;
  color: #fff;
}

.alert-nav {
  z-index: 999999999999999999999999999999999999999999999999999999999999999999 !important;
  border-width: 0.34px;
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
/*  background-color: rgba( 255, 48, 48, 0.95 ) !important;*/
  text-align: center;
  border-radius: 0px;
  border: 0;
  padding: 15px !important;
  margin-top: 0px;
  position: fixed;

  font-size: 20px;
  font-family: "Open Sans";
  color: rgba( 242, 242, 242, 1 );
  text-align: center;
}

.alert-nav button {
  color: rgba( 242, 242, 242, 1 );
  border-color: rgb( 0, 0, 0 );
  border-style: solid;
  border-style: solid;
  border-width: 2px;
  border-color: rgb( 255, 255, 255 );
  margin: 0px; 
  background-color: #999;
  font-size: 14px;
}

.alert-danger {
  background-color: #FF6400;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-flag {
  background-color: #d0ce00;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-success-nav {
  background-color: rgb( 105, 206, 78 );
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: none;
}

.alert-dismissable {
  color: #fff;
}

.close {
  color: #fff !important;
}

.topspace {
  padding-bottom: 50px;
  padding-top: 30px;
}

.fa-circle {
  padding-right: 24px;
  margin-top: 20px;
  color: #ffed54;
  border-color: #fff;
  border-style: solid 1px;
  font-size: 24px;
}

.avatar-notify {
  width: 2em;
  height: 2em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.nav-note {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  background-color: #ffffff;
  margin-bottom: -10px;
}


/***********/

/****** 404 ******/

.404 img {
  width: 500px;
  margin-top: -40px;
  margin-bottom: -200px;
}
  

/***********/

/****** Footer ******/

.space {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin-bottom: 0px !important;
}


/***********/

/****** Intro_App ******/

.intro-headline {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 100;
  font-size: 42px;
  color: #333;
  padding-bottom: 0px;
}

.intro-body
 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 16px;
  color: #444;
}

.intro-next {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 22px;
}

.intro-next:hover {
  text-decoration: underline;
}

.intro-finish {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 18px;
  color: #777;
}

.intro-finish:hover {
  color: #777;
  text-decoration: underline;
}

.arrow-left {
  width: 150px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: left;
  margin-top: -60px;
  margin-left: 40px;
  z-index: 1000000000;
}

.arrow-right {
  width: 150px;
  float: right;
  margin-top: -60px;
  margin-right: 40px;
  z-index: 1000000000;
}

.arrow-right-bottom {
  width: 150px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-top: 200px;
  margin-left: 100px;
  z-index: 1000000000;
}

.image-choice {
  opacity: 0.6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 8px;
}

.image-choice:hover {
  opacity: 1;
  border-style: solid 2px;
  border: 0px solid #008cba;
  background-color: #008cba;
}

.intro-feed {
  background: url(intro_2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.phone-image {
  z-index: -9999999999 !important;
/*  position:fixed;*/
  bottom: -30px;
  width: 400px;
  text-align: center;
}

.phone-front{
  width: 350px;
  text-align: center;
}

.mainCopy{
  margin-top: 150px;
}

@media (max-width: 480px){
  .phone-front{
    width: 200px;
  }
}

/***********/

/****** Iron-Router Loader ******/


.spinner:before {
  opacity: 0 !important;
  color: 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: 0 0 0 rgba(0, 0, 0, 0) !important;
}

#iron-router-progress {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #F55D0C !important;
  box-shadow: 0 0 0 rgba(170, 242, 0, .5);
  opacity: 1;
  z-index: 99999999999999999999999999999999999 !important;
}

.entry h3 {
  color: #666;
  font-weight: 400;
  font-size: 2em;
  padding-bottom: 30px;
}

/***********/

/****** Flag ******/


.flag {
  color: #777;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 12px;
}

.flag:hover {
  color: #555;
  text-decoration: underline;
}

.alert-flag {
  background-color: red;
}

.online {
  color: rgb( 105, 206, 78 );
  font-size: 70px;
  margin-left: -36px;
  margin-top: -20px;
}

.location {
  color: #fff;
  font-size: 18px;
  font-size: 14px;
  font-family: "Droid Serif";
  color: rgba( 242, 242, 242, 0.6 );
  text-align: left;
  margin-left: -20px;
}

@media (min-width: 800px) {

  .navbar-inverse ul {
  visibility: visible !important;
  display: block !important;
  }

  .container-open {
    padding-left: 331px !important;
  }

  .comment {
    max-width: 500px;
  }

  .response {
    max-width: 500px;
  }    

  .messageWidth {
    min-width: 640px;
    max-width: 800px;
  }

  .reply-form {
    padding-left: 320px;
  }

  .alert-nav {
    padding-left: 200px !important;
  }

  .entry-container {
    min-width: 50% !important;
    text-align: center !important;
    background-color: green !important;
  }

  .create-form {
    font-size: 30px;
    color: #fff;
  }  

  .new-note {
    padding-left: 300px;
  }

  .message-feed {
    font-size: 34px;
  }

  .message-feed-empty {
    font-size: 50px;
  }

  .avatar-feed {
    width: 70px !important;
    height: 70px !important;
  }

}


